h3 {
  text-align: center;
}

.contact #email {
  text-align: center;
}

hr {
  height: 3px;
  width: 30%;
  border-width: 0;
  color: black;
  background-color: black;
}

a {
  color: black;
  text-align: center;
}

a:hover {
  color: #ffe373;
  text-align: center;
}
